* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: relative;

  min-width: 480px;
  padding: 0;
  margin: 0 auto;

  font: 0 "Arial", "Verdana", sans-serif;
}

.container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  position: relative;

  display: block;
  padding: 0 30px;
  max-height: 33px;

  font: 16px $Open-sans-Condensed_bold;
  line-height: 33px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 10px #e5e2df;

  color: #000000;
  background: #ffffff url("../img/btn-blue-element.png") no-repeat left;

  transition: .4s;

  &:after,
  &:before {
    position: absolute;
    right: 10px;

    height: 4px;
    width: 12px;

    background: #7d7d7d;

    content: "";
  }

  &:before {
    top: 11px;

    transform: rotate(45deg);
  }

  &:after {
    top: 17px;

    transform: rotate(-45deg);
  }

  &:hover {
    background-color: #cacaca;
    color: #ffffff;

    transition: .5s;
  }
}

.title {
  margin: 0 0 20px 0;
  font-size: 24px;

  @include mobile {
    text-align: center;
  }
}

