@font-face {
  font-family: 'Open-sans-Condensed_bold';
  src:  url('../fonts/Open Sans Condensed/OpenSansCondensed-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad-Pro_regular';
  src:  url('../fonts/Myriad Pro/Myriad-Pro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}