.footer {
  padding: 20px 0;

  background: #f3f3f3;
  border-top: 1px solid #ffffff;

  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__technologies {
    flex-basis: 40%;
    padding: 20px 0;

    font: 14px $Open-sans-Condensed_bold;
    text-transform: uppercase;
    list-style: none;

    color: #747474;
    border-right: 1px solid #ffffff;
  }

  &__technology--active {
    color: #000000;
  }

  &__technology {
    position: relative;

    margin: 0 0 15px 0;
    padding: 0 0 0 25px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: 0;
      top: 6px;

      width: 7px;
      height: 7px;

      background: #166bae;
      content: "";
    }
  }

  &__location {
    flex-basis: 40%;
    padding: 20px 0 0 30px;

    font-size: 12px;
    line-height: 18px;

    border-left: 1px solid #cacaca;
    border-right: 1px solid #ffffff;

    a {
      display: block;

      color: #000000;
      text-decoration: none;

      transition: .3s;

      &:hover {
        text-shadow: 0 0 10px #6c6c6c;

        transition: .4s;
      }
    }
  }

  &__location-title {
    margin: 0 0 25px 0;
    font: 14px $Open-sans-Condensed_bold;
    text-transform: uppercase;
  }

  &__address {
    margin: 0 0 25px 0;
  }

  &__contacts {
    padding: 0 0 0 30px;
  }

  &__social {
    flex-basis: 20%;
    padding: 20px 0 0 55px;

    border-left: 1px solid #cacaca;
  }

  &__social-buttons {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 30px;

    list-style: none;
  }

  &__social-button {
    margin: 0 10px 120px 0;

    transition: .4s;

    &:hover {
      box-shadow: 0 0 10px #6a6a6a;
    }

    a {
      display: block;
      width: 32px;
      height: 32px;
    }
  }

  &__social-button--fb {
    background: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20455.73%20455.73%22%20style%3D%22enable-background%3Anew%200%200%20455.73%20455.73%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20style%3D%22fill%3A%233A559F%3B%22%20d%3D%22M0%2C0v455.73h242.704V279.691h-59.33v-71.864h59.33v-60.353c0-43.893%2C35.582-79.475%2C79.475-79.475%0D%0A%09h62.025v64.622h-44.382c-13.947%2C0-25.254%2C11.307-25.254%2C25.254v49.953h68.521l-9.47%2C71.864h-59.051V455.73H455.73V0H0z%22/%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;
  }
  &__social-button--tw {
    background: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%220%200%20455.731%20455.731%22%20style%3D%22enable-background%3Anew%200%200%20455.731%20455.731%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cg%3E%0D%0A%09%3Crect%20x%3D%220%22%20y%3D%220%22%20style%3D%22fill%3A%2350ABF1%3B%22%20width%3D%22455.731%22%20height%3D%22455.731%22/%3E%0D%0A%09%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M60.377%2C337.822c30.33%2C19.236%2C66.308%2C30.368%2C104.875%2C30.368c108.349%2C0%2C196.18-87.841%2C196.18-196.18%0D%0A%09%09c0-2.705-0.057-5.39-0.161-8.067c3.919-3.084%2C28.157-22.511%2C34.098-35c0%2C0-19.683%2C8.18-38.947%2C10.107%0D%0A%09%09c-0.038%2C0-0.085%2C0.009-0.123%2C0.009c0%2C0%2C0.038-0.019%2C0.104-0.066c1.775-1.186%2C26.591-18.079%2C29.951-38.207%0D%0A%09%09c0%2C0-13.922%2C7.431-33.415%2C13.932c-3.227%2C1.072-6.605%2C2.126-10.088%2C3.103c-12.565-13.41-30.425-21.78-50.25-21.78%0D%0A%09%09c-38.027%2C0-68.841%2C30.805-68.841%2C68.803c0%2C5.362%2C0.617%2C10.581%2C1.784%2C15.592c-5.314-0.218-86.237-4.755-141.289-71.423%0D%0A%09%09c0%2C0-32.902%2C44.917%2C19.607%2C91.105c0%2C0-15.962-0.636-29.733-8.864c0%2C0-5.058%2C54.416%2C54.407%2C68.329c0%2C0-11.701%2C4.432-30.368%2C1.272%0D%0A%09%09c0%2C0%2C10.439%2C43.968%2C63.271%2C48.077c0%2C0-41.777%2C37.74-101.081%2C28.885L60.377%2C337.822z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3Cg%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;
  }

  &__copyright {
    font-size: 12px;
  }
}

@include tablet {
  .footer {

    &__wrapper {
      flex-wrap: wrap;
    }

    &__technologies {
      flex-basis: 50%;
      margin: 0;
    }

    &__location {
      flex-basis: 50%;
      border-right: none;
    }

    &__social {
      display: flex;
      flex-basis: 100%;
      padding-left: 30px;
      padding-right: 30px;

      border-left: none;
      border-top: 1px solid #cacaca;
      box-shadow: inset 0 1px 0 #ffffff;
    }

    &__social-buttons {
      flex-basis: 50%;
      padding: 0;
    }

    &__social-button {
      margin-bottom: 0;
    }

    &__copyright {
      flex-basis: 50%;
      padding: 10px 0 0 0;

      text-align: right;
    }
  }
}

@include mobile {

  .footer {

    &__technologies {
      flex-basis: 100%;
      padding: 0 0 20px 0;


      border-right: none;
    }

    &__location {
      flex-basis: 100%;
      padding-bottom: 20px;

      box-shadow: inset 0 1px 0 #ffffff;
      border-top: 1px solid #cacaca;
      border-left: 0;
    }
  }
}

@include  mobile-xs {
  .footer {
    &__social {
      padding: 20px 15px 0;
    }

    &__location {
      padding-left: 15px;
    }

    &__copyright {
      flex-basis: 60%;
    }
  }
}