.info {
  padding: 20px 0;

  font-size: 12px;
  line-height: 18px;

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #cacaca;

  &__info-blocks {
    padding: 25px 20px;

    background: #ffffff;
    box-shadow: 0 0 10px #e5e2df;

  }

  &__info-block {
    margin: 0 0 50px 0;
  }

  &__main-title {
    margin: 0 0 30px 0;

    font-size: 30px;
    line-height: 30px;

    overflow: hidden;

    &:after {
      display: inline-block;
      margin-bottom: 5px;
      width: 100%;
      height: 4px;

      vertical-align: middle;

      background: #dddddd;
      border: solid #ffffff;
      border-width: 0 20px;

      content: "";
    }

    &:after {
      margin-right: -100%;
    }
  }

  &__facts {
    display: flex;
    flex-direction: row;
  }

  &__facts-image {
    background: url("../img/facts__worldmap.png") no-repeat center center;
    flex-basis: 35%;
  }

  &__facts-wrapper {
    flex-basis: 65%;

  }

  &__text {
    margin: 0 0 30px 0;
  }

  &__fact {
    position: relative;

    margin: 0 0 15px 0;
    padding: 0 0 0 50px;

    &:before {
      position: absolute;
      left: 15px;
      top: 5px;

      width: 7px;
      height: 7px;

      background: #166bae;
      content: "";
    }
  }

  &__info-block--no-margin {
    margin-bottom: 0;
  }
}

@include mobile {
 .info {

   &__facts {
     flex-direction: column;
   }

   &__facts-image {
     height: 150px;
   }

   &__main-title {

     &:after {
       display: none;
     }
   }
 }
}