@import "normalize";
@import "variables.scss";
@import "mixins.scss";
@import "animations.scss";
@import "fonts.scss";
@import "css.scss";
@import "header.scss";
@import "navigation.scss";
@import "main-content.scss";
@import "news.scss";
@import "structure-block.scss";
@import "info.scss";
@import "customer-block.scss";
@import "footer.scss";
@import "popup-overlay.scss";
@import "register-popup.scss";
