@mixin tablet {
  @media all and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media all and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-xs {
  @media (max-width: #{$mobile-width - 1px}) {
    @content
  }
}

// animation settings

@mixin runningStringAnimation {
  animation-name: runningString;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}