.navigation {
  border-bottom: 1px solid #cacaca;
  border-top: 1px solid #ffffff;
  background: #f3f3f3;

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    padding: 0 15px;

    font: 14px $MyriadPro_regular;
    text-transform: uppercase;
    list-style: none;
  }

  &__item {
    height: 55px;

    line-height: 55px;

    a {
      padding: 19px 0;

      text-decoration: none;
      cursor: pointer;

      color: #6a6a6a;

      transition: .4s;

      &:hover {
        color: #3399cc;

        transition: .5s;
      }
    }
  }

  &__item--active {

    color: #000000;
  }

  &__toggle {
    display: none;
  }
}

@include tablet {
  .navigation {

    position: relative;

    &__item {
      flex-basis: 100%;

      text-align: center;
    }

    &--closed .navigation__items {
      height: 55px;
    }

    &--closed .navigation__item {
      display: none;
    }

    &--closed .navigation__item--active {
      display: block;
    }

    &--opened .navigation__items {
      height: 220px;
      flex-wrap: wrap;
    }

    &--opened .navigation__items {
      width: 100%;
    }

    &__toggle {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;

      display: block;
      width: 80px;
      height: 55px;

      font-size: 0;

      background: transparent;
      cursor: pointer;

      border: none;

      &:hover {
        background: #7d7d7d;
      }
    }

    &--closed .navigation__toggle::before {
      position: absolute;
      top: 19px;
      left: 22px;

      width: 36px;
      height: 3px;

      background: #cacaca;
      box-shadow: 0 8px 0 0 #cacaca,
      0 16px 0 0 #cacaca;

      content: "";
    }

    &--opened .navigation__toggle {
      right: 0;

      &:before,
      &:after {
        position: absolute;
        top: 25px;
        left: 22px;

        width: 36px;
        height: 3px;

        background: #cacaca;

        content: "";
      }

      &:before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &:after {
        transform: rotate(-45deg);
        box-shadow: none;
      }
    }

    &--nojs .navigation__toggle {
      display: none;
    }

    &--nojs .navigation__items {
      height: 110px;
      padding: 0;

      flex-wrap: wrap;
    }

    &--nojs .navigation__items {
      text-align: center;
    }

    &--nojs .navigation__item {
      display: block;
      flex-basis: 50%;
    }
  }
}

@include mobile {
  .navigation {

    &--nojs .navigation__item {
      display: block;
      flex-basis: 100%;
    }

    &--nojs .navigation__items {
      height: 220px;
      padding: 0;
    }
  }
}