.news {
  position: relative;

  padding: 25px 0;

  border-bottom: 1px solid #cacaca;

  &__top {
    width: 10%;
    height: 37px;
    padding-top: 10px;
    float: left;

    font: 14px $Open-sans-Condensed_bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    background: #3399cc;
  }

  &__items {
    position: relative;

    width: 90%;
    float: left;
    height: 37px;

    font-size: 12px;
    overflow: hidden;

    box-shadow: 0 0 10px #e5e2df;
    background: #ffffff;
  }

  &__item {
    position: absolute;

    float: left;
    height: 37px;
    padding: 13px 0 0 15px;

    white-space: nowrap;

    background: #ffffff;

    a {
      color: #000000;
      text-decoration: none;

      &:hover {
        color: #166bae;
      }
    }
  }
}

@include tablet {
  .news {
    &__top {
      width: 20%;
    }

    &__items {
      width: 80%;
    }
  }
}

@include mobile {
  .news {
    &__top {
      float: none;
      width: 100%;
    }

    &__items {
      float: none;

      width: 100%;
    }
  }
}