.news {
  position: relative;

  padding: 25px 0;

  border-bottom: 1px solid #cacaca;

  &__top {
    width: 10%;
    height: 37px;
    padding-top: 10px;
    float: left;

    font: 14px $Open-sans-Condensed_bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    background: #3399cc;
  }

  &__items {
    position: relative;

    width: 90%;
    float: left;
    //padding-right: 100px;


    font-size: 12px;
    overflow: hidden;

    box-shadow: 0 0 10px #e5e2df;
  }

  &__item {
    float: left;

    height: 37px;
    padding: 13px 0 0 15px;

    background: #ffffff;

    marquee {
      width: 90%;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    right: 0;

    width: 15px;
    height: 15px;
    padding: 0;

    font-size: 0;

    border: none;
    background: #6c6c6c;

    &:after,
    &:before {
      position: absolute;
      right: 4px;

      height: 2px;
      width: 6px;

      background: #ffffff;

      content: "";
    }
  }

  .slick-next {
    top: 12px;
    right: 15px;

    &:before {
      top: 5px;

      transform: rotate(45deg);
    }

    &:after {
      top: 9px;

      transform: rotate(-45deg);
    }
  }

  .slick-prev {
    top: 12px;
    right: 35px;

    z-index: 20;

    &:before {
      top: 5px;

      transform: rotate(135deg);
    }

    &:after {
      top: 9px;

      transform: rotate(-135deg);
    }
  }


  &__play-btn {
    position: absolute;
    top: 37px;
    right: 55px;

    width: 15px;
    height: 15px;
    padding: 0;

    font-size: 0;

    border: none;
    background: #6c6c6c;

    &:after {
      position: absolute;
      top: 4px;
      left: 5px;

      background: #ffffff;
      border-top: 4px solid #6c6c6c;
      border-left: 6px solid #ffffff;
      border-bottom: 4px solid #6c6c6c;

      content: "";
    }
  }
}