.structure-block {

  padding: 20px 0;

  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #cacaca;

  &__wrapper {
    display: flex;
    flex-direction: row;

    box-shadow: 0 0 10px #e5e2df;
  }

  &__list {
    position: relative;

    padding: 20px 0 0 15px;
    margin: 0;
    height: 240px;
    flex-basis: 27.5%;

    font: 16px $MyriadPro_regular;
    list-style: none;
    overflow: hidden;

    color: #ffffff;
    background: #3399cc;
    border-right: 4px solid #246b8e;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 20px;

      background: #3399cc;

      z-index: 10;

      content: "";
    }

    &:after {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 20px;

      background: #3399cc;

      content: "";
    }

  }

  &__list-item {
    padding: 0 0 0 15px;

    line-height: 40px;
    cursor: pointer;
  }

  //&__list-item--active {
  //  background: #246b8e;
  //}

  .structure-block__list .slick-current {
    background: #246b8e;
  }

  &__items {
    flex-basis: 72.5%;
    overflow: hidden;
  }

  &__item {
    display: inline-block;

    flex-direction: row;

    background: #ffffff;
  }

  &__image {
    height: 240px;
    width: 40%;
    float: left;
  }

  &__image--first {
    background: url("../img/structule-block_picture-1.png") no-repeat left;
  }
  &__image--second {
    background: url("../img/structule-block_picture-2.png") no-repeat left;
  }
  &__image--third {
    background: url("../img/structule-block_picture-3.png") no-repeat left;
  }
  &__image--fourth {
    background: url("../img/structule-block_picture-4.png") no-repeat left;
  }
  &__image--fifth {
    background: url("../img/structule-block_picture-5.png") no-repeat left;
  }

  &__text {
    width: 60%;
    float: left;
  }

  &__text-title {
    padding: 0 0 0 20px;

    font: 18px $MyriadPro_regular;
    line-height: 40px;
    text-shadow: 1px 0 3px #000000;

    color: #ffffff;
    background: #3399cc;
  }

  &__text-content {
    padding: 40px 20px 0 20px;

    font: 12px "Arial", "Verdana", sans-serif;
    line-height: 16px;

    a {
      font-weight: bold;

      color: #000000;
    }
  }
}

@include tablet {
  .structure-block {

    &__wrapper {
      flex-direction: column;
    }

    &__list {
      flex-basis: 100%;

      border-right: none;
      border-bottom: 4px solid #246b8e;
    }

    &__image {
      width: 30%;
    }

    &__text {
      width: 70%;
    }

    &__list-item {
      width: 100%;
      margin: 0;
    }

    &__text-title {
      padding-left: 15px;

      font-size: 15px;
    }

    &__items {
      height: 240px;
    }

    &__text-content {
      padding: 15px 10px 0 15px;

      font-size: 11px;
    }
  }
}

@include mobile {

  .structure-block {
    &__image {
      width: 40%;

      background-position: center;
    }

    &__text {
      width: 60%;
    }
  }
}