$Open-sans-Condensed_bold: "Open-sans-Condensed_bold", "Verdana", sans-serif;
$MyriadPro_regular: "MyriadPro_regular", "Verdana", sans-serif;

$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 480px;

